{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "arrow-body-style": 0,    // Boring rule
    "global-require": 0,
    "id-length": 0,           // There is no point to disallow declaring variable as short as `x` or `y`.
    "no-nested-ternary": 0,   // Nested ternary are fine for conditionnal adffectation if indented properly.

    "no-undef": [2, { typeof: true }],
    "no-unused-vars": [2, {"args": "none"}], // Allow unused argument definition in order to keep functions signatures self documented.
    "no-use-before-define": [2, "nofunc"],
    "quote-props": [2, "as-needed"],         // Disallow to quote properties (of object) when it's not requiered.
   },
}
