{
  "extends": "airbnb/base",
  "env": {
    "node": true
  },
  "rules": {
    "func-names": 0,
    "id-length": 0,           //OK: There is no point to disallow declaring variable as short as `x` or `y`.
    "no-nested-ternary": 0,   //OK: Nested ternary are fine for conditionnal adffectation if indented properly.

    "no-unused-vars": [2, {"args": "none"}], //Allow unused argument definition in order to keep functions signatures self documented.
    "quote-props": [2, "as-needed"],         //Disallow to quote properties (of object) when it's not requiered.
   },
}
